h1 {
  color: green;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

header a {
  color: white;
}

.twocolumn {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 40% auto;
}
.picturesOfme {
  width: 300px;
  margin: 5px 100px 150px 310px;
}
.picOfme {
}
.homepage {
  text-align: center;
}

header li {
  display: inline-block;
  margin-left: 30px;
}

section {
  margin-top: 1em;
  margin-bottom: 1em;
}

section h2 {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

.columns {
  display: flex;
}

.column {
  flex-grow: 1;
  padding-right: 1.5em;
  width: 100%;
}

ol {
  font-size: 22px;
}

.world {
  color: white
}
header h1 {
  margin: 0;
}

h1 {
  font-size: 40px;
  color: white;
}

h2 {
  font-size: 30px;
  color: black;
}

h3 {
  color: white;
}

 body {
  background: rgb(54, 106, 172);
}ß

aboutbackground {
  background: ;
}
.linkpage {
background-color: yellow;
margin: 10px 200px auto 200px;
}
.classmates {
  text-align: center;
  padding: 20px;
}
.carrer {
  background-color: yellow;
  margin-left: 70px;
  margin-right: 100px;
}
.box {
  padding: 20px;
}
