h1 {
  color: green;
}
header{
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

header a{
  color: white;
}
header li{
  display: inline-block;
  margin-left: 30px;
}

ol {
  color: blue;
}
h1 {
    font-size: 40px;

    color: white;
}
h2 {
    font-size: 30px;
    color: green;
}
h3 {
  color: black;
}
